<h1>Your Teams</h1>

<table class="table">
<% @teams.each do |team| %>
  <tr>
    <td class="name"><%= link_to team.name, team %></td>
    <td><%= team.accomplishments.count %> accomplishments</td>
    <td><%= link_to 'Edit', edit_team_path(team) %></td>
    <td><%= link_to 'Delete', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Team', new_team_path %>
