<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @comment.message %>
</p>

<p>
  <b>User:</b>
  <%= current_user.user_id %>
</p>

<p>
  <b>Todo:</b>
  <%= @comment.accomplishment_id %>
</p>


<%= link_to 'Edit', edit_accomplishment_comment_path(@comment) %> |
<%= link_to 'Back', accomplishment_comments_path %>
