<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @accomplishment.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @accomplishment.description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @accomplishment.tags %>
</p>

<p>
  <strong>User:</strong>
  <%= @accomplishment.user_id %>
</p>

<%= link_to 'Edit', edit_accomplishment_path(@accomplishment) %> |
<%= link_to 'Back', accomplishments_path %>
