<p id="notice"><%= notice %></p>

<%= content_for :breadcrumbs do %>
  <%= sync partial: 'accomplishment_breadcrumbs', resource: @accomplishment %>
<% end %>

<div class="row-fluid">
  <div class="span12">
    <%= sync partial: 'accomplishment_show_form', resource: @accomplishment %>
    <div class="row-fluid">
      <div class="span12">
        <% @accomplishment.comments.ordered.each do |comment| %>
          <%= sync partial: 'accomplishment_comment', resource: comment %>
          <br/>
        <% end %>
        <%= sync_new partial: 'accomplishment_comment', resource: Comment.new, scope: @accomplishment %>
      </div>
    </div>
    <br/>
    <br/>
    <%= sync partial: 'accomplishment_comment_form', resource: @accomplishment %>
  </div>
</div>
